In [1]:
import pandas as pd

df = pd.read_csv('movies.csv')

print(f"Dataset Shape: {df.shape}")

print("\n--- Dataset Preview ---")
display(df.head())

print("\n--- Column Information ---")
print(df.info())

print("\n--- Missing Values ---")
print(df.isnull().sum())

Dataset Shape: (8560, 8)

--- Dataset Preview ---

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,37.2512,8.713,29484
1,1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,30.7590,8.685,22254
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,14.5889,8.571,13460
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.1156,8.565,16977
4,4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.8666,8.551,9637

--- Column Information ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8560 entries, 0 to 8559
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8560 non-null   int64
 1   id            8560 non-null   int64
 2   title         8560 non-null   object
 3   overview      8559 non-null   object
 4   release_date  8558 non-null   object
 5   popularity    8560 non-null   float64
 6   vote_average  8560 non-null   float64
 7   vote_count    8560 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 535.1+ KB
None

--- Missing Values ---
Unnamed: 0      0
id              0
title           0
overview        1
release_date    2
popularity      0
vote_average    0
vote_count      0
dtype: int64